<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta content="initial-scale=1, shrink-to-fit=no, width=device-width" name="viewport">

        <!-- CSS -->
        <!-- Add Material font (Roboto) and Material icon as needed -->
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i|Roboto+Mono:300,400,700|Roboto+Slab:300,400,700" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="../static/css/font_awesome_all.css" rel="stylesheet">

        <!-- Add Material CSS, replace Bootstrap CSS -->
        <link rel="stylesheet" type="text/css" href="../static/css/material.css">
        <link rel="stylesheet" type="text/css" href="../static/css/project.css">

        <!-- favicon -->
        <!-- ... -->

        <!-- title -->
        <title>Access Denied - Flight Finder</title>
    </head>
  <body>
    <main role="main">
        <section class="d-flex justify-content-center align-items-center my-3 my-md-0" style="min-height: calc(100vh - 80px); height: 100%;">
            <div class="container">
                <div class="row justify-content-center align-items-center">
                    <div class="col-sm-8 text-center">
                        <img class="img-fluid mb-4" src="../static/images/svg/cancel.svg" alt="Page Not Found"/>
                        <h1>Access Denied!</h1>
                        <p class="mb-4 text-muted">
                            You don't have permission to access this page.
                        </p>
                        <a class="btn btn-primary" href="{{ url_for("index") }}">Return Home</a>
                    </div>
                </div>
            </div>
        </section>
    </main>
  </body>
</html>