<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta content="initial-scale=1, shrink-to-fit=no, width=device-width" name="viewport">

        <!-- CSS -->
        <!-- Add Material font (Roboto) and Material icon as needed -->
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i|Roboto+Mono:300,400,700|Roboto+Slab:300,400,700" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="../static/css/font_awesome_all.css" rel="stylesheet">

        <!-- Add Material CSS, replace Bootstrap CSS -->
        <link rel="stylesheet" type="text/css" href="../static/css/material.css">
        <link rel="stylesheet" type="text/css" href="../static/css/project.css">

        <!-- favicon -->
        <!-- ... -->

        <!-- title -->
        <title>Manage Booking - Flight Finder</title>
    </head>
    <script type="text/javascript">
        var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
  <body class="body-content">
    <header class="navbar navbar-dark fixed-top toolbar-waterfall">
        <a class="navbar-brand mr-auto" href="{{ url_for("index") }}">
            <img id="imageLogo" src="../static/images/svg/logo_dark.svg" width="35" height="35" class="d-inline-block align-top mr-2" alt="">
            Flight Finder
        </a>
        <ul class="navbar-nav ml-auto">
            <li class="d-none d-sm-block nav-item">
                <a class="nav-link" style="opacity: 1;" href="{{ url_for("sign_up") }}"><i class="fas fa-user-plus fa-fw mr-1"></i>Sign up</a>
            </li>
            <li class="d-none d-sm-block nav-item">
                <a class="nav-link" style="opacity: 1;" href="{{ url_for("sign_in") }}"><i class="fas fa-sign-in-alt fa-fw mr-1"></i>Sign in</a>
            </li>
            <li class="d-block d-sm-none nav-item dropdown">
                <a class="navbar-toggler" href="#" id="navbarDropdownGuest" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-user-circle fa-2x fa-fw"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownGuest">
                    <a class="dropdown-item" href="{{ url_for("sign_in") }}"><i class="fas fa-sign-in-alt fa-fw mr-1"></i>Sign in</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{ url_for("sign_in") }}"><i class="fas fa-user-plus fa-fw mr-1"></i>Sign up</a>
                </div>
            </li>
        </ul>
    </header>
    <div class="jumbotron jumbotron-fluid jumbotron-bg mb-3 shadow-none"></div>
    <main role="main">
        <section class="d-flex align-items-center my-4">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-10 col-xl-8">
                        {% if show_alert is sameas true %}
                            {% if alert.type == "success" %}
                                {% set alert_color, message_icon = "success", "check-circle" %}    
                            {% else %}
                                {% set alert_color, message_icon = "danger", "exclamation-circle" %}  
                            {% endif %}
                            
                            <div class="alert alert-{{ alert_color }} rounded-3x" role="alert">
                                <div class="row align-items-center">
                                    <div class="col-2 col-sm-1 text-center">
                                        <i class="fa fa-{{ message_icon }} fa-lg fa-fw mr-2"></i>
                                    </div>
                                    <div class="col-10 col-sm-11">
                                        {{ alert.message }}
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                        <div class="card rounded-3x shadow-sm-none shadow-1">
                            <div class="card-body">
                                <form id="manageBookingForm" method="POST" action="{{ url_for("manage_booking") }}" class="needs-validation" novalidate>
                                    <div class="card-header pt-0 pl-0">
                                        <div class="card-title">Manage Booking</div>
                                        <div class="card-subtitle text-muted">Enter your details below to view, edit or cancel the booking</div>
                                    </div>
                                    <div class="form-row mt-3">
                                        <div class="form-group col-sm-6">
                                            <div class="floating-label">
                                                <label for="bookingID">Booking ID</label>
                                                <input id="bookingID" class="form-control uppercase-input" type="text" pattern="[A-Z0-9]{6}" maxlength="6" name="bookingID" required data-ripple-line>
                                                <div class="invalid-feedback">
                                                    Invalid booking ID, must be 6 chars long.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group col-sm-6">
                                            <div class="floating-label">
                                                <label for="lastName">Last name</label>
                                                <input id="lastName" class="form-control" type="text" name="lastName" required data-ripple-line>
                                                <div class="invalid-feedback">
                                                    Invalid last name.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row justify-content-center align-items-center">
                                        <div class="col-sm-4 mb-2 mb-sm-0">
                                            <button class="btn btn-sm btn-block btn-primary" type="submit" name="btnState" value="view">View</button>
                                        </div>
                                        <div class="col-sm-4 mb-2 mb-sm-0">
                                            <button class="btn btn-sm btn-block btn-primary" type="submit" name="btnState" value="modify">Modify</button>
                                        </div>
                                        <div class="col-sm-4">
                                            <button class="btn btn-sm btn-block btn-danger" type="submit" name="btnState" value="cancel">Cancel</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <!-- Then Material JavaScript on top of Bootstrap JavaScript -->
    <script src="../static/js/material.js"></script>
    <script src="../static/js/snackbar.js"></script>
    <script src="../static/js/project.js"></script>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <script>
                    $(function() {
                        $.snackbar({content: '{{ message }}', style: 'snackbar-left mb-2'});
                    });
                </script>
            {% endfor %}
        {% endif %}
    {% endwith %}
    
  </body>
</html>