<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta content="initial-scale=1, shrink-to-fit=no, width=device-width" name="viewport">

        <!-- CSS -->
        <!-- Add Material font (Roboto) and Material icon as needed -->
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i|Roboto+Mono:300,400,700|Roboto+Slab:300,400,700" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="../static/css/font_awesome_all.css" rel="stylesheet">

        <!-- Add Material CSS, replace Bootstrap CSS -->
        <link rel="stylesheet" type="text/css" href="../static/css/material.css">
        <link rel="stylesheet" type="text/css" href="../static/css/project.css">

        <!-- favicon -->
        <!-- ... -->

        <!-- title -->
        <title>Sign Up - Flight Finder</title>
    </head>
    <script type="text/javascript">
        var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
  <body class="body-content">
    <header class="navbar navbar-dark fixed-top bg-alt-primary toolbar-waterfall">
        <a class="navbar-brand mr-auto" href="{{ url_for("index") }}">
            <img src="../static/images/svg/logo_light.svg" width="35" height="35" class="d-inline-block align-top mr-2" alt="">
            Flight Finder
        </a>
    </header>
    <main role="main">
        <section class="d-flex align-items-center my-4">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-sm-8 col-md-7 col-lg-6 col-xl-5">
                        <div class="row justify-content-center align-items-center">
                            <div class="col-9">
                                <img class="img-fluid" src="../static/images/svg/airport.svg" alt="Airport"/>
                            </div>
                            <div class="col-12">
                                <div class="card shadow-none">
                                    <div class="card-body px-0">
                                        <div class="text-center text-md-center mt-4 mt-md-0 pb-3">
                                            <h2 class="font-weight-normal text-monospace">JOIN FLIGHTRADAR!</h2>
                                            <p class="text-muted">...and find your next destination in a blink.</p>
                                        </div>
                                        <form method="POST" id="signUpForm" class="needs-validation px-0" novalidate="">
                                            <div class="form-row">
                                                <div class="form-group col-sm-6">
                                                    <div class="floating-label">
                                                        <label for="firstName"><i class="fas fa-user fa-fw mr-2"></i>First name</label>
                                                        <input id="firstName" class="form-control" type="text" name="firstName" required data-ripple-line>
                                                        <div class="invalid-feedback">
                                                            Invalid first name.
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group col-sm-6">
                                                    <div class="floating-label">
                                                        <label for="lastName"><i class="fas fa-user fa-fw mr-2"></i>Last name</label>
                                                        <input id="lastName" class="form-control" type="text" name="lastName" required data-ripple-line>
                                                        <div class="invalid-feedback">
                                                            Invalid last name.
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="form-group col-sm-6">
                                                    <div class="floating-label">
                                                        <label for="mobile"><i class="fas fa-mobile fa-fw mr-2"></i>Mobile number</label>
                                                        <input id="mobile" class="form-control" type="text" pattern="[0-9]{6,10}" maxlength="10" name="mobile" required data-ripple-line>
                                                        <div class="invalid-feedback">
                                                            Invalid mobile number.
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group col-sm-6">
                                                    <div class="floating-label">
                                                        <label for="gender"><i class="fas fa-venus-mars fa-fw mr-2"></i>Gender</label>
                                                        <select id="gender" class="form-control custom-select" name="gender" required data-ripple-line>
                                                            <option></option>
                                                            <option value="male">Male</option>
                                                            <option value="female">Female</option>
                                                        </select>
                                                        <div class="invalid-feedback">
                                                            Invalid gender.
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="floating-label">
                                                    <label for="email"><i class="fas fa-envelope fa-fw mr-2"></i>Email address</label>
                                                    <input id="email" class="form-control" type="email" name="email" required data-ripple-line>
                                                    <div class="invalid-feedback">
                                                        Invalid email address.
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="floating-label">
                                                    <label for="password"><i class="fas fa-unlock-alt fa-fw mr-2"></i>Password</label>
                                                    <input id="password" class="form-control" type="password" pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z])(?=.*[0-9]).*$" name="password" required data-ripple-line data-password>
                                                    <div class="invalid-feedback">
                                                        Invalid password, must at least 8 characters long.
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group pt-3">
                                                <button class="btn btn-primary btn-block" type="submit"> Sign up </button>
                                            </div>
                                        </form>
                                    </div>
                                    {% if has_next is sameas false %}
                                        <div class="card-footer">
                                            <div class="text-center">
                                                Already have an account? <a href="{{ url_for("sign_in") }}">Sign in</a>
                                            </div>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>    
            </div>
        </section>
    </main>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <!-- Then Material JavaScript on top of Bootstrap JavaScript -->
    <script src="../static/js/material.js"></script>
    <script src="../static/js/snackbar.js"></script>
    <script src="../static/js/project.js"></script>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <script>
                    $(function() {
                        $.snackbar({content: '{{ message }}', style: 'snackbar-left mb-2'});
                    });
                </script>
            {% endfor %}
        {% endif %}
    {% endwith %}
    
  </body>
</html>