<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta content="initial-scale=1, shrink-to-fit=no, width=device-width" name="viewport">

        <!-- CSS -->
        <link href="../static/css/roboto-family.css" rel="stylesheet">
        <link href="../static/css/material-icons.css" rel="stylesheet">
        <link href="../static/css/fontawesome-icons.css" rel="stylesheet">
        <link href="../static/css/flightfinder-logo.css" rel="stylesheet">

        <!-- Add Material CSS, replace Bootstrap CSS -->
        <link href="../static/css/material.css" rel="stylesheet">
        <link href="../static/css/project.css" rel="stylesheet">

        <!-- favicon -->
        <link href="../static/images/favicon.ico" rel="shortcut icon"/>

        <!-- title -->
        <title>Flight Finder</title>
    </head>
    <script>
        var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
  <body class="body-content">
    <div class="loader"></div>
    <header class="navbar navbar-light navbar-expand-md fixed-top toolbar-waterfall">
        <a class="navbar-brand mr-auto" href="{{ url_for("index") }}">
            <i class="ff ff-logo ff-xl ff-fw mr-1"></i>Flight Finder
        </a>
        <ul class="navbar-nav ml-auto">
            {% if g.current_customer.type == "USER" %}
                <li class="nav-item dropdown">
                    <a class="d-none d-sm-flex nav-link py-1 pl-2 pr-1 align-items-center" style="opacity: 1;" href="#" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <div class="d-inline-block mr-1">Welcome, {{ g.current_customer.first_name }}</div>
                        <i class="fas fa-user-circle fa-fw" style="font-size: 175%;"></i>
                    </a>
                    <a class="d-inline-flex d-sm-none navbar-toggler" href="#" id="navbarDropdownUser" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-user-circle fa-2x fa-fw"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownUser">
                        <a class="dropdown-item" href="{{ url_for("profile") }}"><i class="fas fa-user-alt fa-fw mr-2"></i>My account</a>
                        <a class="dropdown-item" href="{{ url_for("my_bookings") }}"><i class="fas fa-plane fa-fw mr-2"></i>My bookings</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{{ url_for("sign_out") }}"><i class="fas fa-sign-out-alt fa-fw mr-2"></i>Sign out</a>
                    </div>
                </li>
            {% else %}
                <li class="d-none d-sm-block nav-item">
                    <a class="nav-link" style="opacity: 1;" href="{{ url_for("sign_up") }}"><i class="fas fa-user-plus fa-fw mr-2"></i>Sign up</a>
                </li>
                <li class="d-none d-sm-block nav-item">
                    <a class="nav-link" style="opacity: 1;" href="{{ url_for("sign_in") }}"><i class="fas fa-sign-in-alt fa-fw mr-2"></i>Sign in</a>
                </li>
                <li class="d-block d-sm-none nav-item dropdown">
                    <a class="navbar-toggler" href="#" id="navbarDropdownGuest" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-user-circle fa-2x fa-fw"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownGuest">
                        <a class="dropdown-item" href="{{ url_for("sign_in") }}"><i class="fas fa-sign-in-alt fa-fw mr-2"></i>Sign in</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{{ url_for("sign_up") }}"><i class="fas fa-user-plus fa-fw mr-2"></i>Sign up</a>
                    </div>
                </li>
            {% endif %}
        </ul>
    </header>
    <div class="jumbotron jumbotron-fluid jumbotron-bg mb-3 shadow-none"></div>
    <main role="main" class="container">
        <div class="row justify-content-center mt-md-3">
            <div class="col-lg-10 col-xl-8">
                <div class="card rounded-3x shadow-sm-none shadow-1 mb-3">
                    <div class="card-body">
                        <nav class="nav nav-tabs nav-justified mb-3" id="nav-tab" role="tablist">
                            <a class="nav-item nav-link active" id="nav-roundtrip-tab" data-toggle="tab" href="#nav-roundtrip-info" role="tab" aria-controls="nav-roundtrip-info" aria-selected="true">Round Trip</a>
                            <a class="nav-item nav-link" id="nav-oneway-tab" data-toggle="tab" href="#nav-roundtrip-info" role="tab" aria-controls="nav-roundtrip-info" aria-selected="false">One Way</a>
                            {% if g.current_customer.type == "GUEST" %}
                                <a class="nav-item nav-link" id="nav-booking-tab" data-toggle="tab" href="#nav-manage-booking" role="tab" aria-controls="nav-manage-booking" aria-selected="false">Manage Booking</a>
                            {% endif %}
                        </nav>
                        <div class="tab-content" id="nav-tabs-content">
                            <div class="tab-pane show fade active" id="nav-roundtrip-info" role="tabpanel" aria-labelledby="roundtrip-tab">
                                <form id="flightForm" novalidate>
                                    <div class="form-row">
                                        <div class="form-group col-sm-6 col-md-3">
                                            <div class="floating-label">
                                                <label for="fromAirport"><i class="fas fa-plane-departure fa-fw mr-2"></i>From</label>
                                                <select class="form-control custom-select" id="fromAirport" name="fromAirport" required data-ripple-line>
                                                    <option></option>
                                                    {% for airport in airports %}
                                                        <option value="{{ airport.code }}">{{ airport.city }} ({{ airport.code }})</option>
                                                    {% endfor %}
                                                </select>
                                                <div class="invalid-feedback">
                                                    Invalid source airport.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group col-sm-6 col-md-3">
                                            <div class="floating-label">
                                                <label for="toAirport"><i class="fas fa-plane-arrival fa-fw mr-2"></i>To</label>
                                                <select class="form-control custom-select" id="toAirport" name="toAirport" disabled required data-ripple-line>
                                                    <option></option>
                                                </select>
                                                <div class="invalid-feedback">
                                                    Invalid destination airport.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group col-sm-6 col-md-3">
                                            <div class="floating-label">
                                                <label for="departDatePicker"><i class="far fa-calendar fa-fw mr-2"></i>Depart date</label>
                                                <input class="form-control" id="departDatePicker" type="text" name="departDate" required data-ripple-line>
                                                <div class="invalid-feedback">
                                                    Invalid depart date.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group col-sm-6 col-md-3">
                                            <div class="floating-label">
                                                <label for="returnDatePicker"><i class="far fa-calendar fa-fw mr-2"></i>Return date</label>
                                                <input class="form-control" id="returnDatePicker" type="text" name="returnDate" required data-ripple-line>
                                                <div class="invalid-feedback">
                                                    Invalid return date.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-sm-6 col-md-4 mb-3 mb-md-2">
                                            <div class="floating-label">
                                                <label for="numPassengers"><i class="fas fa-users fa-fw mr-2"></i>Passengers</label>
                                                <select class="form-control custom-select" id="numPassengers" name="numPassengers" required data-ripple-line>
                                                    <option></option>
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                    <option value="5">5</option>
                                                    <option value="6">6</option>
                                                    <option value="7">7</option>
                                                    <option value="8">8</option>
                                                    <option value="9">9</option>
                                                </select>
                                                <div class="invalid-feedback">
                                                    Invalid number of passengers.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group col-sm-6 col-md-4 mb-3 mb-md-2">
                                            <div class="floating-label">
                                                <label for="flightClass"><i class="fas fa-hand-holding-usd fa-fw mr-2"></i>Flight class</label>
                                                <select class="form-control custom-select" id="flightClass" name="flightClass" required data-ripple-line>
                                                    <option></option>
                                                    <option value="Economy">Economy</option>
                                                    <option value="Business">Business</option>
                                                    <option value="First Class">First Class</option>
                                                </select>
                                                <div class="invalid-feedback">
                                                    Invalid flight class.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group col-md-4 mb-0 mb-md-2">
                                            <input type="hidden" name="startLimit" value="0">
                                            <button id="flightSearch" class="btn btn-primary btn-block mt-md-2" type="submit" name="flightSearch"><i class="fas fa-search fa-fw mr-2"></i>Search flights</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            {% if g.current_customer.type == "GUEST" %}
                                <div class="tab-pane fade show" id="nav-manage-booking" role="tabpanel" aria-labelledby="manage-booking-tab">
                                    <form id="manageBookingForm" method="POST" action="{{ url_for("manage_booking") }}" novalidate>
                                        <div class="card-header pt-0 pl-0">
                                            <div class="card-title">Manage Booking</div>
                                            <div class="card-subtitle text-muted">Enter your details below to view, edit or cancel the booking</div>
                                        </div>
                                        <div class="form-row mt-3">
                                            <div class="form-group col-sm-6">
                                                <div class="floating-label">
                                                    <label for="bookingID">Booking ID</label>
                                                    <input id="bookingID" class="form-control uppercase-input" type="text" pattern="[A-Z0-9]{6}" maxlength="6" name="bookingID" required data-ripple-line>
                                                    <div class="invalid-feedback">
                                                        Invalid booking id, must be 6 chars long.
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group col-sm-6">
                                                <div class="floating-label">
                                                    <label for="lastName">Last name</label>
                                                    <input id="lastName" class="form-control" type="text" name="lastName" required data-ripple-line>
                                                    <div class="invalid-feedback">
                                                        Invalid last name.
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-row justify-content-center align-items-center">
                                            {% for name in ["View", "Modify", "Cancel"]%}
                                                {% set klasses = "col-sm-4" %}
                                                {% if name == "Cancel" %}
                                                    {% set btn_color = "danger" %}
                                                {% else %}
                                                    {% set btn_color = "primary" %}
                                                    {% set klasses = klasses + " mb-2 mb-sm-0" %}
                                                {% endif %}
                                                <div class="{{ klasses }}">
                                                    <button class="btn btn-sm btn-block btn-{{ btn_color }} process-form" type="submit" name="btnState" value="{{ name.lower() }}">{{ name }}</button>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </form>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-12">
                <div id="flightSearchResult" class="d-none mt-3 mb-4"></div>
            </div>
        </div>
    </main>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/popper.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>

    <!-- Then Material JavaScript on top of Bootstrap JavaScript -->
    <script src="../static/js/material.js"></script>
    <script src="../static/js/snackbar.js"></script>
    <script src="../static/js/project.js"></script>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <script>
                    $(function() {
                        $.snackbar({content: '{{ message }}', style: 'snackbar-left justify-content-center mb-2'});
                    });
                </script>
            {% endfor %}
        {% endif %}
    {% endwith %}
    
  </body>
</html>