<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta content="initial-scale=1, shrink-to-fit=no, width=device-width" name="viewport">

        <!-- CSS -->
        <link href="../static/css/roboto-family.css" rel="stylesheet">
        <link href="../static/css/material-icons.css" rel="stylesheet">
        <link href="../static/css/fontawesome-icons.css" rel="stylesheet">
        <link href="../static/css/flightfinder-logo.css" rel="stylesheet">

        <!-- Add Material CSS, replace Bootstrap CSS -->
        <link href="../static/css/material.css" rel="stylesheet">
        <link href="../static/css/project.css" rel="stylesheet">
        <link href="../static/css/pace-top.css" rel="stylesheet">
        <link href="../static/css/pace-center.css" rel="stylesheet">

        <!-- favicon -->
        <link href="../static/images/favicon.ico" rel="shortcut icon"/>

        <!-- title -->
        <title>Reset Password - Flight Finder</title>
    </head>
    <script>
        var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
  <body class="body-content">
    <header class="navbar navbar-dark fixed-top bg-alt-primary toolbar-waterfall">
        <a class="navbar-brand mr-auto" href="{{ url_for("index") }}">
            <i class="ff ff-logo ff-xl ff-fw mr-1"></i>Flight Finder
        </a>
    </header>
    <main role="main">
        <section class="d-flex align-items-center my-4">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-9">
                        <div class="row justify-content-center align-items-center">
                            <div class="col-9 col-sm-8 col-md-6 col-xl-5">
                                <img class="img-fluid" src="../static/images/svg/reset_password.svg" alt="Reset Password"/>
                            </div>
                            <div class="col-12 col-sm-8">
                                <div class="card shadow-none">
                                    <div class="card-body px-0">
                                        <form method="POST" id="resetPasswordForm" novalidate="">    
                                            <div class="form-group text-dark text-center mt-4 mt-md-0">
                                                <h2 class="font-weight-normal text-monospace pb-3">RESET PASSWORD!</h2>
                                                <p class="text-left">Enter your new password below:</p>
                                            </div>
                                            <div class="form-row">
                                                <div class="form-group col">
                                                    <div class="floating-label">
                                                        <label for="password"><i class="fas fa-unlock-alt fa-fw mr-2"></i>Password</label>
                                                        <input id="password" class="form-control" type="password" name="password" required data-ripple-line data-password>
                                                        <div class="invalid-feedback">
                                                            Password is required.
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group col-12 col-md-5 col-xl-4 mt-3 mt-sm-2">
                                                    <button class="btn btn-primary btn-block process-form" type="submit">Reset Password</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/popper.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/pace.min.js"></script>

    <!-- Then Material JavaScript on top of Bootstrap JavaScript -->
    <script src="../static/js/material.js"></script>
    <script src="../static/js/snackbar.js"></script>
    <script src="../static/js/project.js"></script>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <script>
                    $(function() {
                        $.snackbar({content: '{{ message }}', style: 'snackbar-left justify-content-center mb-2'});
                    });
                </script>
            {% endfor %}
        {% endif %}
    {% endwith %}
    
  </body>
</html>