<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta content="initial-scale=1, shrink-to-fit=no, width=device-width" name="viewport">

        <!-- CSS -->
        <link href="../static/css/roboto-family.css" rel="stylesheet">
        <link href="../static/css/material-icons.css" rel="stylesheet">
        <link href="../static/css/fontawesome-icons.css" rel="stylesheet">

        <!-- Add Material CSS, replace Bootstrap CSS -->
        <link href="../static/css/material.css" rel="stylesheet">
        <link href="../static/css/project.css" rel="stylesheet">

        <!-- favicon -->
        <!-- ... -->

        <!-- title -->
        <title>Profile - Flight Finder</title>
    </head>
    <script>
        var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
  	<body class="body-content">
        <div class="loader"></div>
        <header class="navbar navbar-dark navbar-expand-md fixed-top bg-alt-primary toolbar-waterfall">
            <a class="navbar-brand mr-auto" href="{{ url_for("index") }}">
                <img src="../static/images/svg/logo_light.svg" width="35" height="35" class="d-inline-block align-top mr-2" alt="">
                Flight Finder
            </a>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link p-0" style="opacity: 1;" href="#" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-user-circle fa-2x fa-fw"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{{ url_for("my_bookings") }}"><i class="fas fa-plane fa-fw mr-2"></i>My bookings</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{{ url_for("sign_out") }}"><i class="fas fa-sign-out-alt fa-fw mr-2"></i>Sign out</a>
                    </div>
                </li>
            </ul>
        </header>
        <main role="main" class="px-lg-3">
            <section class="d-flex align-items-center my-4">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-xl-10">
                            <div class="row">
                                <div class="col-md-3 text-center text-md-left">
                                    <div class="card-title font-size-lg">Profile</div>
                                    <div class="card-subtitle text-muted">Overview of your profile</div>
                                    <hr class="d-block d-md-none">
                                </div>
                                <div class="col-md-6 offset-md-3">
                                    <div class="row align-items-center justify-content-center">
                                        <div class="col-5 col-sm-4 text-center">
                                            <img class="img-fluid" src="../static/images/svg/profile_pic_{{ user_info.gender }}.svg" alt="Profile Picture">
                                        </div>
                                        <div class="col-sm-8">
                                            <div class="font-weight-bold font-size-lg text-center text-sm-left mt-3 mb-sm-0">
                                                {{ user_info.first_name }} {{ user_info.last_name }}
                                            </div>
                                            <hr>
                                            <ul class="list-unstyled">
                                                <li><i class="fas fa-envelope fa-fw mr-3"></i>{{ user_info.email }}</li>
                                                <li><i class="fas fa-phone fa-fw mr-3"></i>{{ user_info.mobile }}</li>
                                                <li><i class="fas fa-calendar-alt fa-fw mr-3"></i>{{ user_info.joined_date }}</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <form id="editForm" method="POST" action="{{ url_for("edit_info") }}" novalidate>
                                <div class="row">
                                    <div class="col-md-3 text-center text-md-left">
                                        <div class="card-title font-size-lg">Personal Info</div>
                                        <div class="card-subtitle text-muted">Edit your personal information</div>
                                        <hr class="d-block d-md-none">
                                    </div>
                                    <div class="col-md-6 offset-md-3">
                                        <div class="form-group">
                                            <div class="floating-label has-value">
                                                <label for="firstName">First name</label>
                                                <input id="firstName" class="form-control" type="text" name="firstName" value="{{ user_info.first_name }}" required data-ripple-line>
                                                <div class="invalid-feedback">
                                                    Invalid first name.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="floating-label has-value">
                                                <label for="lastName">Last name</label>
                                                <input id="lastName" class="form-control" type="text" name="lastName" value="{{ user_info.last_name }}" required data-ripple-line>
                                                <div class="invalid-feedback">
                                                    Invalid last name.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="floating-label has-value">
                                                <label for="mobile">Mobile number</label>
                                                <input id="mobile" class="form-control" type="text" name="mobile" value="{{ user_info.mobile }}" required data-ripple-line>
                                                <div class="invalid-feedback">
                                                    Invalid mobile number.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-row justify-content-end align-items-center">
                                            <div class="col-md-6 col-lg-5">
                                                <button class="btn btn-sm btn-block btn-primary process-form" type="submit">Save Changes</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <hr>
                            <form id="changePasswordForm" method="POST" action="{{ url_for("change_password") }}" novalidate>
                                <div class="row">
                                    <div class="col-md-3 text-center text-md-left">
                                        <div class="card-title font-size-lg">Password</div>
                                        <div class="card-subtitle text-muted">Change your password</div>
                                        <hr class="d-block d-md-none">
                                    </div>
                                    <div class="col-md-6 offset-md-3">
                                        <strong>After the password is changed, you have to sign in back to your account.</strong>
                                        <div class="form-group mt-3">
                                            <div class="floating-label">
                                                <label for="currentPassword">Current password</label>
                                                <input id="currentPassword" class="form-control" type="password" name="currentPassword" required data-ripple-line data-password>
                                                <div class="invalid-feedback">
                                                    Invalid current password.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group mt-3">
                                            <div class="floating-label">
                                                <label for="newPassword">New password</label>
                                                <input id="newPassword" class="form-control" type="password" pattern="^(?=.*[A-Za-z])[A-Za-z\d\W]{8,}$" name="newPassword" required data-ripple-line
                                                data-password>
                                                <div class="invalid-feedback">
                                                    Invalid password, must at least 8 characters long.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-row justify-content-end align-items-center">
                                            <div class="col-md-6 col-lg-5">
                                                <button class="btn btn-sm btn-block btn-primary process-form" type="submit">Change Password</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <hr>
                            <form id="deleteAccountForm" method="POST" action="{{ url_for("delete_account") }}" novalidate>
                                <div class="row">
                                    <div class="col-md-3 text-center text-md-left">
                                        <div class="card-title font-size-lg text-danger">Delete Account</div>
                                        <div class="card-subtitle text-muted">This action cannot be undone</div>
                                        <hr class="d-block d-md-none">
                                    </div>
                                    <div class="col-md-6 offset-md-3">
                                        <strong>Deleting your account will remove all of your information and data from our database permanently. Enter your current password below to confirm your request.</strong>
                                        <div class="form-group mt-3">
                                            <div class="floating-label">
                                                <label for="currentDeletePassword">Current password</label>
                                                <input id="currentDeletePassword" class="form-control" type="password" name="currentDeletePassword" required data-ripple-line data-password>
                                                <div class="invalid-feedback">
                                                    Invalid current password.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-row justify-content-end align-items-center">
                                            <div class="col-md-6 col-lg-5">
                                                <button class="btn btn-sm btn-block btn-danger process-form" type="submit">Delete Account</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
        </main>

		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script src="../static/js/jquery.min.js"></script>
        <script src="../static/js/popper.min.js"></script>
        <script src="../static/js/bootstrap.min.js"></script>

		<!-- Then Material JavaScript on top of Bootstrap JavaScript -->
		<script src="../static/js/material.js"></script>
		<script src="../static/js/snackbar.js"></script>
		<script src="../static/js/project.js"></script>

		{% with messages = get_flashed_messages() %}
			{% if messages %}
				{% for message in messages %}
					<script>
						$(function() {
							$.snackbar({content: '{{ message }}', style: 'snackbar-left justify-content-center mb-2'});
						});
					</script>
				{% endfor %}
			{% endif %}
		{% endwith %}
    
	</body>
</html>